.loginScreen-container {
  text-align: center;
  height: 100vh;
  h1 {
    padding-top: 15%;
    color: orchid;
    color: purple;
    font-family: "Allison", cursive;
    font-size: 96px;
    span {
      color: orange;
    }
  }
  button {
    margin-top: 150px;
    width: 30%;
    justify-content: center;
  }
}
